.idea/
.gradle/
gradle/
target/
report/
*/build/
log/
classes/
*.iml
gradlew
gradlew.bat
/cucumber-html-report/
AppData/
Profile/
installer/
rerun.txt
out/
build.properties
buildRetry.properties
lib/selenium*
.DS_Store
